{
    "extends": [
        "prettier",
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:sonarjs/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "sonarjs"
    ]
}